*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif, helvetica;
}

body {
	width: 100vw;
	overflow-x: hidden;
}

#mid-section {

	/*background-color: #02f3f7;*/
	height: 100vh;
	overflow-x: hidden;
}
#nav {
	position: fixed;
	padding: 0;
	width: 100vw;
	overflow-x: hidden;
	z-index: 1;
	background: #0cb52e; /*rgb(12, 181, 46,);*/
	opacity: 0.9;
}

.navbar{
	overflow-x: hidden;
	height: 100px;
	font-size: 20px;
	width: 100vw;
	/*background-color: #02f3f7;*/
}

li a {
	color: #fff;
}

li a:hover{
	color:#000;
}


.title, img.screen-shot {
	position: relative;
	/*height: 350px;*/
	width: 80%;
	border-radius: 15px;
	margin-top: 50px;
	margin-right: 0;
}

#info{
	position: relative;
	background-image: url('../img/greenkeyboard.jpeg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 60%;
	background-attachment: fixed;
	top: 160px;

}

.img-fluid {
	margin-top:200px;
}
#front-end {
	position:relative;
	top: 120px;
	letter-spacing: 1.2rem;
	color: #fff;
	text-align: center;
	font-size: 55px;
}

#about-me span{
	font-size: 35px;
}

#about-me {
	position: relative;
	top: 130px;
	text-align: center;
	width: 100%;
	margin-right: 0px;
	font-size: 22px;
	color: #666b67;
}

#skills, img {
	position: relative;
	text-align: center;
	top: -50px;
}

#close-contact-box{
	position: relative;
	cursor: pointer;
	background: #000;
	height: 24px;
	width: 20px;
	color: #fff;
}

#contact-info{
	position: absolute;
	display: none;
	left: 50%;
  	top: 50%;
  	transform: translate(-50%, -50%);
	height: 250px;
	width: 300px;
	border: #000 solid 3px;
	border-radius: 15px;
	text-align: center;
	padding: 10px;
	font-weight: bolder;
	background-color: #0cb52e;
	color: #000;
	z-index: 5;
}

#phone-email {
	font-size: 20px;
	margin-bottom: 10px;
}

.container-fluid-p{
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	/*margin-left:40px;*/

}

.container{
	margin-top: 70px;
	margin-bottom: 270px;
}

#submitWeather{
	margin-left: -1px;
	border-radius: 5px;
	border:none;
}

#submitWeather:hover{
	cursor: pointer;
	color: #000;
	opacity: .5;
	border:none;
}

.title, h3 p{
	position: relative;
	text-align: center;
	color: #000;
	font-style: italic;
	padding: 10px;
	margin:10px;
}

button{
	padding:0.5rem;
	margin:10px;
	background-color: #0cb52e;
	color: #fff;
	border:none;
}

button a{
	text-decoration:none;
	color: #000;
}

a button:hover{
	text-decoration: none;
	color: #000;
	cursor: pointer;
	opacity: .5;
}

/* If the screen size is 600px wide or less, hide the element */
@media(max-width: 800px) {
  #computer-screen {
    display: none;
  }
}

/**************** resume *********************/

h1#myName {
	position: relative;
	text-align: center;
	font-weight: bolder;
	top: 90px;
	padding-bottom: 40px;
	letter-spacing: 1rem;

}

.address {
	position: relative;
	margin-top: 90px;
	text-align: center;
	line-height: 2.3rem;
	font-size: 1.2rem;
}

#header-border {
	position: relative;
	margin-top: 20px;
	width: 80vw;
	height: 12px;
	background-color: #0cb52e;
	/*position: absolute;*/
  	top: 50%;
  	left: 50%;
 	transform: translate(-50%, -50%);
}

#core-qualifications{
	position: relative;
	padding-left: 10px;
}

#experience {
	position: relative;
	text-align: center;
 	color: #000;
 	font-size: 2rem;
}

#education{
	position: relative;
	text-align: center;
 	color: #000;
 	font-size: 2rem;
}

#img-outline {
	border: 2px #c12828 solid;
}

/* footer */
footer p{
	position: relative;
	padding: 35px 0 35px 0;
	color: #fff;
	text-align: center;
	background-color:#0cb52e;/*#1C2833;	*/
	margin-bottom: 0;
}

footer{
	position: absolute;
	min-width: 100%;
	left: 0;
	margin-top: 20px;
}

footer p a{
	color: #fff;
}

footer p a:hover{
	color: #000;
	text-decoration: none;
}


/* media queries */
@media (max-width: 500px){
	#front-end{
		font-size: 2rem;
		margin-top: 3rem;
	}
}